@model Login_Signup_page.Models.Employee
@{
    ViewData["Title"] = "Employee_get";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container">
    <div class="row mt-lg-5">

        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5">

            @*<div class="text-center">
                <a class="text-light btn btn-primary font-weight-bold" asp-action="Employee_get" asp-controller="Account">Employee get</a>
                <h1 class="text-info">User Registration Form</h1>

            </div>*@
            <div class="text-center">
                <h6 class="text-success text-center">@TempData["sucessMessage"]</h6>
                <h6 class="text-success text-center">@TempData["errorMessage"]</h6>
           </div>
            <form method="post" asp-action="Employee_get">
                <div class="form-group">
                    <label asp-for="Employee_name"></label>
                    <input type="text" asp-for="Employee_name" placeholder="Employee Name" class="form-control" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="Employee_email"></label>
                    <input id="Password" type="text" asp-for="Employee_email" placeholder="Email" class="form-control" autocomplete="off" />

                </div>
                <div class="form-group">
                    <label asp-for="Employee_phone"></label>
                    <input type="text" asp-for="Employee_phone" placeholder="Phone Number" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee_salary"></label>
                    <input type="text" asp-for="Employee_salary" placeholder="Employee Salary" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee_status"></label>
                    <input type="text" asp-for="Employee_status" placeholder="Employee Status" class="form-control" autocomplete="off" />
                </div>
                </br>

                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg mb-1 float-right" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

